<!-- ユーザーの詳細 -->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<!-- ユーザーの投稿一覧 -->

<% @notices.each do |notice| %>
<div>
  <%= link_to notice_path(notice.id) do %>
    『 <%= notice.title %> 』
  <% end %>
  <p>本文：<%= notice.body %></p>
  <%= image_tag notice.get_image %>
</div>
<% end %>